.blue{
    background-color: rgb(25, 121, 231);
}

.green{
    background-color: rgb(15, 143, 109);
}

.yellow{
    background-color: rgb(165, 136, 19);
}

.red{
    background-color: rgb(172, 23, 80);
}

.box{
    min-width: calc(72% / 7);
    aspect-ratio: 1 / 1;
    margin: 2%;
    font-size: 1vw
}

.box:hover{
    filter: contrast(600%);
}